<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<!--新建弹出框开始-->
		<form id="permissionForm">
			<div class="modal-dialog">
				<div class="modal-content">
		    		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		            		<span aria-hidden="true">×</span>
		        		</button>
		       			 <h4 class="modal-title">新增菜单</h4>
		    		</div>
		    		<div class="modal-body">
		       			<div class="form-box-center">
		        			 <ul class="form-box clearfix" style="padding: 0;">
                                 <li class="width-50">
                                    <p>按钮名：</p>
                                     <input class="form-control required" type="text" value="" maxlength="100" name="name">
                                    <span class="help-inline"><font color="red">*</font></span>
                                </li>
                                <li class="width-50">
                                    <p>授权标识：</p>
                                     <input class="form-control required" type="text" value="" maxlength="100" name="pname">
                                    <span class="help-inline"><font color="red">*</font></span>
                                </li>
                                <li class="width-50">
                                    <p>排序：</p>
                                     <input class="form-control required" type="text" value="" maxlength="100" name="orders">
                                    <span class="help-inline"><font color="red">*</font></span>
                                </li>
								 
								 <li class="width-50">
                                    <p>是否监护人验证：</p>
                                     <select class="form-control" style="width: 50%;" name="ischeck">
                                             <option selected="selected" value="0">是</option>
                                             <option value="1">否</option>
                                      </select> 
                                      <span class="help-inline"><font color="red">*</font></span>
                                </li>
                                <li class="width-full">
                                     <p>备注 :</p>
                                      <div class="form-right">
                                           <textarea  name="remark" maxlength="255" class="form-control" rows="4"></textarea>
                                     </div>
                                </li>
                            </ul>
		       			</div>
		    		</div>
		    		<div class="modal-footer">
		       			<button type="reset" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
		        		<button type="button" class="btn btn-primary" id="permissionSave">保存</button>
		    		</div>
				</div>
			 </div>
		</form>


        <script type="text/javascript" src="js/jquery.ztree.core.js"></script>
        <script type="text/javascript" src="js/jquery.ztree.excheck.js"></script>
        <script type="text/javascript" src="js/icheck.min.js"></script>
        <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="js/dataTables.bootstrap.min.js"></script>
        <!--&lt;!&ndash;table的初始化&ndash;&gt;-->
        <!--<script type="text/javascript" src="myjs/tablecat-init.js"></script>-->
        <!--&lt;!&ndash;组织机构 分类树的初始化&ndash;&gt;-->
        <!--<script type="text/javascript" src="myjs/treecat-init.js"></script>-->
        <!--&lt;!&ndash;js弹出控制弹出&ndash;&gt;-->
        <!--<script type="text/javascript" src="myjs/demo-two.js"></script>-->
        <script type="text/javascript" src="myjs/wy/caidananniugongnengguanli-modal.js"></script>
	</body>
</html>
