<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/skin-blue.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrapStyle/bootstrapStyle.css"/>
    <link type="text/css" rel="stylesheet" href="css/AdminLTE.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/all.css"/>
    <link type="text/css" rel="stylesheet" href="css/dataTables.bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/index.css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body class="holl-init">
<section class="content-header">
    <h1>
        系统管理
        <small>菜单管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="#">系统管理</a></li>
        <li class="active">菜单管理</li>
    </ol>
</section>
<section class="content container-fluid">
    <div class="row">
        <!--左侧分类树 开始-->
        <div class="col-xs-3">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">功能项</h3>
                </div>
                <div class="box-body">
                    <!--组织机构树 -->
                    <ul id="treeDemo7" class="ztree"></ul>
                </div>
            </div>
        </div>
        <!--左侧分类树 结束-->
        <!--右侧表格开始-->
        <div class="col-xs-9">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">功能列表</h3>
                </div>
                <!--操作button-->
                <div class="buttons mag_1">
                    <button type="button" class="btn btn-primary" id="new" shiro:haspermission="permission-new">新增菜单
                    </button>
                    <button type="button" class="btn btn-warning " id="creat" shiro:haspermission="permission-creat">
                        新增按钮
                    </button>
                    <button type="button" class="btn btn-success " id="update" shiro:haspermission="permission-update">修改
                    </button>
                    <button type="button" class="btn btn-warning " id="look" shiro:haspermission="permission-look">查看
                    </button>
                    <button type="button" class="btn btn-danger " id="delete" shiro:haspermission="permission-delete">删除
                    </button>
                    <button type="button" class="btn btn-danger " id="deleteall" shiro:haspermission="permission-deleteall">
                        批量删除
                    </button>
                    <button type="button" class="btn btn-success " id="import" shiro:haspermission="permission-import">导入
                    </button>
                    <button type="button" class="btn btn-warning " id="export" shiro:haspermission="permission-export">导出
                    </button>
                    <button type="button" class="btn btn-success " id="isuse" shiro:haspermission="permission-isuse">
                        暂时停用
                    </button>
                </div>
                <!--操作button结束-->
                <!--table表格开始-->
                <div class="box-body">
                    <table class="table table-hover table-bordered table-striped example-table" id="mydatatable">
                        <!--                        <thead>-->
                        <!--                        <tr>-->
                        <!--                            <th></th>-->
                        <!--                            <th>类型</th>-->
                        <!--                            <th>权限标识</th>-->
                        <!--                            <th>更新时间</th>-->
                        <!--                            <th>是否二次验证</th>-->
                        <!--                        </tr>-->
                        <!--                        </thead>-->
                        <!--                        <tbody>-->
                        <!--                        <tr>-->
                        <!--                            <td><input type="checkbox" class="minimal"/></td>-->
                        <!--                            <td>菜单</td>-->
                        <!--                            <td></td>-->
                        <!--                            <td></td>-->
                        <!--                            <td>是</td>-->
                        <!--                        </tr>-->
                        <!--                        <tr>-->
                        <!--                            <td><input type="checkbox" class="minimal"/></td>-->
                        <!--                            <td></td>-->
                        <!--                            <td></td>-->
                        <!--                            <td></td>-->
                        <!--                            <td></td>-->
                        <!--                        </tr>-->
                        <!--                        <tr>-->
                        <!--                            <td><input type="checkbox" class="minimal"/></td>-->
                        <!--                            <td></td>-->
                        <!--                            <td></td>-->
                        <!--                            <td></td>-->
                        <!--                            <td></td>-->
                        <!--                        </tr>-->
                        <!--                        <tr>-->
                        <!--                            <td><input type="checkbox" class="minimal"/></td>-->
                        <!--                            <td></td>-->
                        <!--                            <td></td>-->
                        <!--                            <td></td>-->
                        <!--                            <td></td>-->
                        <!--                        </tr>-->
                        <!--                        </tbody>-->
                    </table>
                </div>
                <!--table表格结束-->
            </div>
        </div>
        <!--右侧表格结束-->
    </div>
</section>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/adminlte.min.js"></script>
<script type="text/javascript" src="js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="js/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="js/icheck.min.js"></script>
<!--组织机构分类树的初始化-->
<!--<script type="text/javascript" src="myjs/treecat-init.js"></script>-->
<!--table初始化-->
<script type="text/javascript" src="myjs/wy/caidananniugongnengguanli.js"></script>
<!--<script>-->
<!--    $(function () {-->
<!--        /*&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;点击按钮打开模态框&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
<!--        $("#new").click(function () {-->
<!--            var dialog = window.parent.$('#modal-default');-->
<!--            dialog.empty();-->
<!--            dialog.load("modal/caidananniugongnengguanli-modal.html");-->
<!--            dialog.modal();-->
<!--        })-->
<!--        $("#creat").click(function () {-->
<!--            var dialog = window.parent.$('#modal-default1');-->
<!--            dialog.empty();-->
<!--            dialog.load("modal/caidananniugongnengguanli1-modal.html");-->
<!--            dialog.modal();-->
<!--        })-->
<!--    });-->
<!--</script>-->
</body>
</html>
