<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link type="text/css" rel="stylesheet" href="css/login.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="myjs/wy/login.js"></script>
</head>
<body>
<div class="pagewrap">
    <div class="main">
        <div class="header"></div>
        <div class="content">
            <div class="con_right">
                <div class="con_r_top"><a class="right"
                                          style="color: rgb(51, 51, 51); border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(46, 85, 142);">管理平台</a>
                </div>
                <ul>
                    <li class="con_r_right" style="display: block;">
                        <form autocomplete="off">
                            <div class="user">
                                <div><span class="user-icon"></span>
                                    <input type="text" id="userid" name="username" placeholder="　输入账号" value="">
                                </div>

                                <div><span class="mima-icon"></span>
                                    <input type="password" id="pwd" name="password" placeholder="　输入密码" value="">
                                </div>
                            </div>
                            <br>
                            <button id="btn_Login" type="button">登 录</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="wraper">
            <a href="#" target="_blank">关于XXXXXXX</a><a href="#" target="_blank">XXXXXX</a><a href="#" target="_blank">客户服务</a><a
                href="#" target="_blank">隐私政策</a>|
            XXXX版权所有 © 2018-2019
        </div>
    </footer>
</div>
</body>
</html>