<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />
		<link type="text/css" rel="stylesheet" href="css/skin-blue.min.css" />
		<link type="text/css" rel="stylesheet" href="css/bootstrapStyle/bootstrapStyle.css" />
		<link type="text/css" rel="stylesheet" href="css/AdminLTE.min.css" />
		<link type="text/css" rel="stylesheet" href="css/all.css" />
		<link type="text/css" rel="stylesheet" href="css/dataTables.bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery.min.js"></script>
	</head>
	<body class="holl-init">
		<section class="content-header">
      		<h1>
        		区域管理
        		<small>区域管理</small>
      		</h1>
      		<ol class="breadcrumb">
        		<li><a href="#"><i class="fa fa-dashboard"></i>系统配置</a></li>
        		<li><a href="#">区域管理</a></li>
        		<li class="active">区域管理</li>
     		</ol>
    	</section>
    	<section class="content container-fluid">
    		<div class="row">
    			<!--左侧分类树 开始-->
    			<div class="col-xs-3">
    				<div class="box">
                        <div class="box-header">
                            <h3 class="box-title">站端区域</h3>
                        </div>
                       	<div class="box-body">
                       		<!--站端区域树树 -->
                          	<ul id="treeDemo3" class="ztree"></ul>
                       	</div>
                    </div>
    			</div>
    			<!--左侧分类树 结束-->
    			<!--右侧表格开始-->
    			<div class="col-xs-9">
    				<div class="box">
    				    <div class="box-header">
    				    	<h3 class="box-title">区域列表</h3>
    				    </div>
    				    <!--操作button-->
    				    <div class="buttons mag_1">
                            <button type="button" class="btn btn-primary" id="new">新增</button>
                            <button type="button" class="btn btn-success ">添加下级区域</button>
							<button type="button" class="btn btn-warning ">添加同级区域</button>
                            <button type="button" class="btn btn-danger ">修改</button>
                            <button type="button" class="btn btn-success ">查看</button>
							<button type="button" class="btn btn-danger ">删除</button>
							<button type="button" class="btn btn-danger ">批量删除</button>
							<button type="button" class="btn btn-success ">导入</button>
							<button type="button" class="btn btn-warning ">导出</button>
                       	</div>
                       	<!--操作button结束-->
                       	<!--table表格开始-->
                       	<div class="box-body">
                            <table class="table table-hover table-bordered table-striped example-table">
                                <thead>
                                	<tr>
                                    	<th></th>
                                    	<th>站端名称</th>
                                    	<th>区域名称</th>
                                   		<th>区域编码</th>
										<th>备注</th>
                                	</tr>
                                </thead>
                        		<tbody>
                        			<tr>
                           				<td><input type="checkbox" class="minimal" /></td>
                            			<td>上地大楼</td>
                            			<td>生产综合楼>一楼>蓄电池室</td>
                            			<td>GCZJ0000222</td>
                            			<td>存放蓄电池设备</td>
                        			</tr>
                        			<tr>
                           				<td><input type="checkbox" class="minimal" /></td>
                            			<td>西二旗大厦</td>
                            			<td>生产综合楼>一楼>安全器具室</td>
                            			<td>GCZJ0000223</td>
                            			<td>存放安全器具等设备</td>
                        			</tr>
                        			<tr>
                           				<td><input type="checkbox" class="minimal" /></td>
                            			<td>上地大楼</td>
                            			<td>生产综合楼>一楼>安全器具室</td>
                            			<td>GCZJ0000223</td>
                            			<td>存放安全器具等设备</td>
                        			</tr>
                        			<tr>
                           				<td><input type="checkbox" class="minimal" /></td>
                            			<td>西二旗大厦</td>
                            			<td>生产综合楼>一楼>安全器具室</td>
                            			<td>GCZJ0000223</td>
                            			<td>存放安全器具等设备</td>
                        			</tr>
                        		</tbody>
                       	    </table>
                       	</div>
                       	<!--table表格结束-->
    				</div>
    			</div>
    				<!--右侧表格结束-->
    		</div>
        </section>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/adminlte.min.js"></script>
	<script type="text/javascript" src="js/jquery.ztree.core.js"></script>
	<script type="text/javascript" src="js/jquery.ztree.excheck.js"></script>
	<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="js/icheck.min.js"></script>
	<!--组织机构分类树的初始化-->
	<script type="text/javascript" src="myjs/treecat-init.js"></script>
	<!--table初始化-->
	<script type="text/javascript" src="myjs/tablecat-init.js"></script>
	<script>
   $(function() {	
	/*----------点击按钮打开模态框------------*/
		$("#new").click(function(){
			var dialog = window.parent.$('#modal-default');
			dialog.empty();
			dialog.load("modal/quyuguanli-modal.html");
	        dialog.modal();		
		})
    });
	</script>
	</body>
</html>
