<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />
		<link type="text/css" rel="stylesheet" href="css/skin-blue.min.css" />
		<link type="text/css" rel="stylesheet" href="css/AdminLTE.min.css" />
		<link type="text/css" rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery.min.js"></script>
	</head>
	<body class="holl-init">
		<section class="content-header">
      		<h1>
        		系统管理
        		<small>系统白名单</small>
      		</h1>
      		<ol class="breadcrumb">
        		<li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
        		<li><a href="#">系统管理</a></li>
        		<li class="active">系统白名单</li>
     		</ol>
    	</section>
    	<section class="content container-fluid">
    		<div class="home-section-wrap home-section-modal ">
             	<ul class="nav nav-tabs" >
                 	<li role="presentation" ><a href="#home1" aria-controls="home1" role="tab" data-toggle="tab">白名单</a></li>
                	<li role="presentation" class="active"><a href="#profile1" aria-controls="profile1" role="tab" data-toggle="tab">黑名单</a></li>
             	</ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane " id="home1">        
                        <div class="row">
                            <div class="col-xs-7">
                             	<div class="col-xs-2 txt-left nopadding">
                                	<label style="font-weight:normal;">IP白名单：</label>
                              	</div>
                               <div class="col-xs-6 nopadding">
                                    <textarea id="remarks" name="remarks" maxlength="255" class="form-control" rows="4" >192.168.1.115;192.168.1.107</textarea>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-default">保存</button>
                                </div>
                             </div> 
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="profile1">
                        <div class="row">
                            <div class="col-xs-7">
	                            <div class="col-xs-2 txt-left nopadding">
	                                <label  style="font-weight:normal;">IP黑名单：</label>
	                            </div>
	                            <div class="col-xs-6 nopadding">
	                                 <textarea id="remarks" name="remarks" maxlength="255" class="form-control" rows="4">192.168.1.115;192.168.1.107</textarea>
	                            </div>
	                            <div class="col-xs-4">
	                                <button type="button" class="btn btn-default">保存</button>
	                            </div>
	                        </div> 
                        </div>
                    </div>
                </div>
            </div>
    	</section>
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/adminlte.min.js"></script>
	</body>
</html>
