<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/skin-blue.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/AdminLTE.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/all.css"/>
    <link type="text/css" rel="stylesheet" href="css/dataTables.bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/index.css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body class="holl-init">
<section class="content-header">
    <h1>
        系统管理
        <small>系统日志</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>系统管理</a></li>
        <li><a href="#">系统管理</a></li>
        <li class="active">系统日志</li>
    </ol>
</section>
<section class="content container-fluid">
    <div class="row">
        <!--表格开始-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">系统日志</h3>
                </div>
                <!--操作button-->
                <div class="buttons mag_1">
                    <button type="button" class="btn btn-success " shiro:haspermission="rizhi-export">导出</button>
                </div>
                <!--操作button结束-->
                <!--table表格开始-->
                <div class="box-body">
                    <table class="table table-hover table-bordered table-striped example-table" id="mydatatable">
                        <th></th>
                        <th>操作菜单</th>
                        <th>操作用户</th>
                        <th>url</th>
                        <th>提交方式</th>
                        <th>操作者</th>
                        <th>操作时间</th>
                    </table>
                </div>
                <!--table表格结束-->
            </div>
        </div>
        <!--表格结束-->
    </div>
</section>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/adminlte.min.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="js/icheck.min.js"></script>
<!--table初始化-->
<script type="text/javascript" src="myjs/wy/xitongrizhi.js"></script>
</body>
</html>
